*{
	margin:0;
	padding:0;
}
body{
	font:25px Arial,sans-serif;
}
.block{
	width: 400px;
	height:200px;
	margin: 30px auto;
	background-color: #f00;
	background-image: radial-gradient( #f00, #ff0);
} 
