*{
	margin:0;
	padding:0;
}
body{
	font:12px Arial;
	background-color: currentcolor;
	color:#555;
}
.example{
	width:500px;
	height:350px;
	background:#fff url('img/img.jpg') no-repeat;
	margin: 30px auto;
	background-size: cover;
    background-origin: border-box;
    border: 20px solid rgba(0,0,0,.6);
}


}