@import 'variable';
@import 'test';
@import 'mixins';
@import 'function';

@include h;

p{
	letter-spacing: ls-to-css(200, 25px, px);
}
body{
	background-color: $bg-color;
	margin: $margin;
	padding: $padding;
	color: $color
}
.block {
	@include div(#f00, 20px, grey);
	width: 600px;
	padding: 20px;
	margin: 20px auto;
	border: 2px solid red;
}
.block2{
	@extend .block;
	@include div(#0f0, 18px, black);

	width: 400px;
}
.block3{
	@extend .block;
	@include div($fs: 25px, $col: #000);
	width: 300px;
}

.btn{
	@include button($border: true);
}