@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	background-color: #e2e7ec;
}
main{
	max-width:1120px;
	min-width:320px;
	margin:90px auto;
}
.conteiner{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.posts{
	display:flex;
	flex-direction:column;
	flex-basis:32%;
	position:relative;
	background-color: #fff;
	margin-bottom:20px;
}
.posts > img{
	display:block;
	width:100%;
}
.posts__info{
	padding: 28px 15px 15px 28px;
}
.posts__info time{
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.325px;
	line-height: 30px;
	color: #818181;
	text-transform: uppercase;
}
.posts__info h2{
	font-weight: 700;
	font-size: 22px;
	letter-spacing:0.55px;
	line-height:30px;
	color:#000;
	text-transform: uppercase;
}
.posts__info h2 a{
	font-weight: 700;
	font-size: 22px;
	letter-spacing:0.55px;
	line-height:30px;
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
}
.posts__info h2 a:hover{
	text-decoration: underline;
}
.posts__autor{
	margin-top:60px;
}
.posts--big{
	flex-basis:66%;
}
.posts--big img{
	flex-grow:1;
}
.posts--big .posts__info h2{
	color:#fff;
	font-size:30px;
	letter-spacing: 0.75px;
	line-height: 36px;
}
.posts--big .posts__info h2 a{
	color:#fff;
	font-size:30px;
	letter-spacing: 0.75px;
	line-height: 36px;
}
.posts--big .posts__info{
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:70%;

}
.posts--big::before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: linear-gradient(to top, rgba(0,0,0,.8),rgba(0,0,0,0));
}
@media screen and (max-width: 980px){
	.posts__info time{
		font-size: 12px;
		line-height: 24px;
	}
	.posts__info h2{
		font-size: 20px;
		line-height:24px;
	}
	.posts__info h2 a{
		font-size: 20px;
		line-height:24px;
	}
	.posts--big .posts__info h2{
		font-size:24px;
		line-height: 30px;
	}
	.posts--big .posts__info h2 a{
		font-size:24px;
		line-height: 30px;

	}
}
@media screen and (max-width: 768px){
	.posts{
		flex-basis:49%;
	}
	.posts--big img{
		flex-grow:0;
	}
	.posts--big::before{
		display: none;
	}
	.posts .posts__info {
    	position: static;
    	width: inherit;
    	padding:10px 15px 15px 10px;
	}
	.posts--big .posts__info h2{
		color:#000;
		font-size: 20px;
		line-height:24px;
	}
	.posts--big .posts__info h2 a{
		color:#000;
		font-size: 20px;
		line-height:24px;
	}
}
@media screen and (max-width: 480px){
	.posts{
		flex-basis:100%;
	}
}
