@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import 'fonts.css';
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font:16px Arial,sans-serif;
}
.conteiner{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	width: 900px;
	margin: 0 auto;
}

.block{
	width: 30%;
	margin: 20px 0;
	border:5px solid #000;
}
.block img{
	width: 100%;
	display: block;
}
.img1 img{
	filter: brightness(1.5);
}
.img2 img{
	filter: blur(3px);
}
.img3 img{
	filter: contrast(150%);
}
.img4 img{
	filter: grayscale(0.5);
}
.img5 img{
	filter: sepia(0.5);
}
.img6 img{
	filter: saturate(2);
}
