@mixin h {
	h1 {
		font-size: 30px;
		color: aqua;
		text-align: center;
	}
}
@mixin div($bg: #fff, $fs: 18px, $col: #000) {
		background-color: $bg;
		font-size: $fs;
		color: $col;
}

@mixin button($bg: red, $border: false) {
	display: block;
	padding: 20px;
	margin: 20px auto;
	width: 200px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	@if $border == true {
		border: 1px solid $bg;
		color: #000;
	}@else {
		background-color: $bg;
		color: #fff;
	}
	&:hover{
		background-color: darken($bg, 30%);
		@if $border == true {
			border-color:  darken($bg, 30%);
		}
	}
	
}