*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font:16px Arial,sans-serif;
}
.conteiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 900px;
}
.block{
	width: 30%;
	border: 5px solid #000;
	padding: 20px;
	background: #fff;
	margin: 20px 0;
}
.block p{
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}
@media (max-width: 500px){
	.block{
		width: 100%;
		margin: 20px;
		background: #00f;
		color: #fff;
	}
}